/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/Resources/

#IDE
/.idea/
/.vscode/
/nbproject/

#WebPack
/node_modules/*

#NetBeans
/nbproject/*

#desktop.ini
**/desktop.ini
desktop.ini
**/*/desktop.ini

#Yarn
yarn-error.log

#Vim
vim.exe.stackdump