{% extends 'layout_lte.html.twig' %}

{% block contenido %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title">
                <h3><center>Estimado cliente:</center></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p align="center">
                            En un momento estará recibiendo un correo electrónico con la cotización solicitada. Consultas puede hacerlas llegar a <a href="mailto:info@sia.com.sv">info@sia.com.sv</a> o asistencia técnica al 79104699.
                        </p>
                        <br>
                        <p align="center">
                            <b>Equipo SIA.</b>
                        </p>
                        <br>
                        <center>
                            <a href="{{ path('member_new') }}" class="btn btn-primary">Regresar</a>
                        </center>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
