{% spaceless %}
<div class='row'>
    <div class=' col-xs-12 cols-sm-12 col-md-12 col-lg-12'>
        <form action='#' id='signupform'>
            {% set message = null %}
            <div id='passwordStrength' class='alert alert-info' role='alert' style='width:250px;'>
                {% include "security/contenido.html.twig" with { 'member': member, 'message':message }%}
            </div>
            <div class=''>
                <label>
                    <input type='checkbox' class='js-switch' id='show-password'/> Show password
                </label>
            </div>

            <div class='form-group'>
                <input type='password' name='password'  id='passwordInput' class='form-control' placeholder='Set Password' data-indicator='pwindicator'><br/>
                <input type='password' name='repassword'  id='confirmPasswordInput' class='form-control' placeholder='Retype Password'>
                <div id='pswd_info'>
                    <h4>Validating your new password</h4>
                    <div id='letter' class='invalid'>At least <strong>one low letter</strong></div>
                    <div id='capital' class='invalid'>At least <strong>one capital letter</strong></div>
                    <div id='number' class='invalid'>At least <strong>one number</strong></div>
                    <!--<div id='special' class='invalid'>At least <strong>one especial character (~`@#$%^&*()_-+={}[]|\:;'<>,.?/)</strong></div>-->
                    <div id='length' class='invalid'>At least <strong>8 characters long</strong></div>
                </div>
            </div>
            <div id='pwindicator'>
            </div>
            <input id='pase' type='hidden' value='false'/>
            <div class='modal-footer'>
                <button class='btn btn-default' type='button' onclick='updatePasswordClose();'>Cancel</button>
                <button class='btn btn-primary' type='button' id='abc_changepassword_save' onclick='updatePassword({{member.login.id}},this.form);'>Reset</button>
            </div>
        </form>
    </div>
</div>
<script type='text/javascript'>
    function updatePassword(id,v){
        if($('#pase').val()=='true'){
            $('#passwordStrength').html('<center><span class=\'glyphicon glyphicon-refresh\' aria-hidden=\'true\'></span>  <strong>Updating... </strong></center>');
            var url='{{path('user_reset_password')}}';
            $.post(url, { id: id, pass: v.password.value }).done(function(data){
                //updatePasswordClose();
                $('#passwordStrength').html(data);
            });
        }

    }

    function updatePasswordClose(){
        $('[data-toggle=popover]').popover('hide');
    }
    $(document).ready(function(){

        $('#show-password').change(function(){
            $('#passwordInput').hideShowPassword($(this).prop('checked'));
            $('#confirmPasswordInput').hideShowPassword($(this).prop('checked'));
        });

        var pass1='#passwordInput';
        var pass2='#confirmPasswordInput';
        var length; var letter; var capital; var number; //var special;

        $(pass1+','+pass2).keyup(function(){

            // set password variable
            var pswd = $(this).val();
            //validate the length
            if ( pswd.length >= 8 ) {
                $('#length').removeClass('invalid').addClass('valid');
                length = true;
            } else {
                $('#length').removeClass('valid').addClass('invalid');
                length = false;
            }
            //validate letter
            if ( pswd.match(/[a-z]/) ) {
                $('#letter').removeClass('invalid').addClass('valid');
                letter = true;
            } else {
                $('#letter').removeClass('valid').addClass('invalid');
                letter = false;
            }

            //validate capital letter
            if ( pswd.match(/[A-Z]/) ) {
                $('#capital').removeClass('invalid').addClass('valid');
                capital = true;
            } else {
                $('#capital').removeClass('valid').addClass('invalid');
                capital = false;
            }

            //validate number
            if ( pswd.match(/\d/) ) {
                $('#number').removeClass('invalid').addClass('valid');
                number = true;
            } else {
                $('#number').removeClass('valid').addClass('invalid');
                number = false;
            }

            //validate special characters
            /*if ( pswd.match(/[^A-Za-z0-9]/) ) {
                    $('#special').removeClass('invalid').addClass('valid');
                    special = true;
            } else {
                    $('#special').removeClass('valid').addClass('invalid');
                    special = false;
            }*/

            if($(pass1).val()=='' || $(pass2).val()=='')
            {
                $('#pwindicator').removeClass().addClass('text-danger').html('<small>Password is not null<br/></small>');
                $('#abc_changepassword_save').attr('disabled', true);
            }

            if($(pass1).val() != $(pass2).val())
            {
                $('#pwindicator').removeClass().addClass('text-danger').html('<small>Password do not match.<br/></small>');
                $('#abc_changepassword_save').attr('disabled', true);
            }
            if($(pass1).val()!='' && $(pass2).val()!='' &&  $(pass1).val() == $(pass2).val()){
                $('#pwindicator').removeClass().addClass('text-success').html('<small>Password do match.<br/></small>');
                if(length===true && letter===true && capital===true && number===true /*&& special===true*/){
                    $('#abc_changepassword_save').attr('disabled', false);
                    $('#pase').val('true');
                }
            }

        }).focus(function() {
            $('#pswd_info').show();
        }).blur(function() {
            $('#pswd_info').hide();
        });

    });

</script>

{% endspaceless %}